* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  @include font;
}

body {
  @include flexCenter;
  background-color: $body-bg;
  color: $text-color;
}

//link reset
a {
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
}
