* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  @include font;
}

.page-body {
  min-height: 100vh;
  min-width: 100vw;
  @include flexCenter;
}

//link reset
a {
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
}
