.card {
  display: flex;
  flex-direction: row;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: $card-bg;
  overflow: hidden;
}

.card p,
.card h1,
.card h2,
.card h3 {
  padding: 2%;
  margin-bottom: 0;
  text-align: left;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2%;
}
.links-container a {
  align-self: center;
}

.sitePage {
  flex-direction: column;
}

.card a:link,
.card a:visited {
  width: 50%;
  border-radius: 5px;
  background-color: $text-color;
  color: white;
  padding: 2% 8%;
  margin: 1%;
  white-space: nowrap;
  text-align: center;
}

.card a:active {
  background-color: $hover-color;
}

.card img {
  max-width: 40%;
  align-self: center;
}

@include mq {
  .card {
    width: 95%;
  }
  .card img {
    width: 100%;
  }
  .card a:hover {
    background-color: $hover-color;
  }
  .card a:hover {
    transform: scale(1.1);
  }
}
