.card {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: $card-bg;
  overflow: hidden;
}

.card p,
.card h2,
.card h3 {
  padding: 2%;
  margin-bottom: 0;
  text-align: left;
}

.links-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}

.card a:link,
.card a:visited {
  max-width: 30%;
  flex: 1 1 0px;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: $text-color;
  color: white;
  padding: 1px 1px;
  margin: 1%;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.card a:active {
  background-color: $hover-color;
}

.card img {
  width: 60%;
  align-self: center;
}

@include mq {
  .card {
    width: 60%;
  }
  .card img {
    width: 100%;
  }
  .card a:hover {
    background-color: $hover-color;
  }
  .card a:hover {
    transform: scale(1.1);
  }
}
