.grid-container {
  display: grid;
  grid-template-columns: 90%;
  min-height: 80vh;
  align-items: center;
}

.grid-item {
  padding: 10%;
  flex-direction: column;
  border-inline-start: 4px solid;
  border-block-start: 4px solid;
  border-image-source: radial-gradient(
    circle at top left,
    blue,
    transparent 50%
  );
  border-image-slice: 1;
  padding: 2%;
  margin: 5%;
}

@include mq {
  .grid-container {
    grid-template-columns: 50% 50%;
  }

  .main-display {
    text-align: left;
  }

  .sites-list {
    text-align: right;
  }
}
