.grid-container {
  display: grid;
  grid-template-columns: 90%;
  min-height: 90vh;
  align-items: center;
}

.grid-item {
  padding: 10%;
  flex-direction: column;
}

.main-display {
  text-align: left;
}

.sites-list {
  text-align: right;
}

@include mq {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}
