@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mq {
  @media only screen and (orientation: landscape) {
    @content;
  }
}

@mixin font {
  font-family: "Poppins", sans-serif;
}

@mixin fadeIn($time) {
  animation: fadeIn 500ms linear $time backwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
