.navbar {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
}

.nav-left a {
  font-size: 7rem;
  line-height: 0;
}

.nav-right a {
  font-size: 3.5rem;
  line-height: 0;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
}

.nav-right a {
  margin: 14% 20%;
}

@include mq {
  .navbar {
    margin: 2% 10% 0 10%;
  }
}
