.navbar {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
}

.nav-left {
  font-size: 4rem;
  line-height: 0;
}

.nav-right {
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
}

.nav-right a {
  margin: 14% 20%;
}

@include mq {
  .navbar {
    margin: 2% 10% 0 10%;
  }
}
