@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
button {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #374954;
  color: #b8b8b8;
}

a {
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  font-size: 1.4rem;
}

.active {
  text-decoration: underline;
}

button {
  border-width: 0;
  padding: 0.4rem;
  font-size: 1.4rem;
  background-color: #b8b8b8;
  border-radius: 10px;
}

button:hover {
  background-color: #2d3462;
  color: aliceblue;
}

h1 {
  font-size: 3rem;
  margin-bottom: 4%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 4%;
}

h3 {
  margin-bottom: 3%;
}

@media only screen and (orientation: landscape) {
  html {
    font-size: 0.8rem;
  }
  button,
  .links-container a {
    font-size: 1rem;
  }
  .sites-list a:hover {
    opacity: 50%;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  min-height: 80vh;
  align-items: center;
}

.grid-item {
  padding: 10%;
  flex-direction: column;
}

.main-display {
  border-inline-start: 4px solid;
  border-block-start: 4px solid;
  border-image-source: radial-gradient(circle at top left, #6b6bc5, transparent 40%);
  border-image-slice: 1;
  padding: 2%;
  margin: 2%;
}

.sites-list {
  border-inline-end: 4px solid;
  border-block-end: 4px solid;
  border-image-source: radial-gradient(circle at bottom right, #6b6bc5, transparent 40%);
  border-image-slice: 1;
  padding: 2%;
  margin: 2%;
  text-align: right;
}

@media only screen and (orientation: landscape) {
  .grid-container {
    grid-template-columns: 50% 50%;
    margin: 0 10%;
  }
  .main-display {
    text-align: left;
    width: 100%;
  }
  .sites-list {
    text-align: right;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
}

.nav-left a {
  font-size: 7rem;
  line-height: 0;
}

.nav-right a {
  font-size: 3.5rem;
  line-height: 0;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
}

.nav-right a {
  margin: 14% 20%;
}

@media only screen and (orientation: landscape) {
  .navbar {
    margin: 2% 10% 0 10%;
  }
}
.card {
  display: flex;
  flex-direction: row;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #49606e;
  overflow: hidden;
}

.card p,
.card h1,
.card h2,
.card h3 {
  padding: 2%;
  margin-bottom: 0;
  text-align: left;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2%;
  min-width: 60%;
}

.links-container a {
  align-self: center;
}

.sitePage {
  flex-direction: column;
}

.card a:link,
.card a:visited {
  width: 50%;
  border-radius: 5px;
  background-color: #b8b8b8;
  color: white;
  padding: 2% 8%;
  margin: 1%;
  white-space: nowrap;
  text-align: center;
}

.card a:active {
  background-color: #2d3462;
}

.card img {
  max-width: 40%;
  align-self: center;
}

@media only screen and (orientation: landscape) {
  .card {
    width: 95%;
  }
  .card img {
    width: 100%;
  }
  .card a:hover {
    background-color: #2d3462;
  }
  .card a:hover {
    transform: scale(1.1);
  }
}
.grid-container {
  animation: fadeIn 500ms linear 200ms backwards;
}

.navbar {
  animation: fadeIn 500ms linear 400ms backwards;
}

.card {
  animation: fadeIn 500ms linear 200ms backwards;
}

img {
  animation: fadeIn 500ms linear 400ms backwards;
}

h1 {
  animation: fadeIn 500ms linear 600ms backwards;
}

h2 {
  animation: fadeIn 500ms linear 800ms backwards;
}

h3 {
  animation: fadeIn 500ms linear 800ms backwards;
}

.links {
  animation: fadeIn 500ms linear 1000ms backwards;
}

p {
  animation: fadeIn 500ms linear 800ms backwards;
}

.stack-container {
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=app.css.map */